{{ 'section-our-service.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="our-service content-container color-{{ section.settings.color_scheme }} our-service__bg{% if section.settings.full_width %} our-service--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="our-service__wrapper our-service__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
      <div class="our-service__blocks {{ section.settings.content_alignment }}">
 
        <div class="our-service__blocks {{ section.settings.content_alignment }}">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
                <h2
                  class="our-service__heading rte inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {{ block.shopify_attributes }}
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {{ block.settings.heading }}
                </h2>
              {%- when 'caption' -%}
                <p
                  class="our-service__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {{ block.shopify_attributes }}
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {{ block.settings.caption | escape }}
                </p>
              {%- when 'text' -%}
                <div
                  class="our-service__text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {{ block.shopify_attributes }}
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {{ block.settings.text }}
                </div>
              {%- when 'button' -%}
                <div
                  class="our-service__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} our-service__buttons--multiple{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {{ block.shopify_attributes }}
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {%- if block.settings.button_label != blank -%}
                    <a
                      {% if block.settings.button_link == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.button_link }}"
                      {% endif %}
                      class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                    >
                      {{- block.settings.button_label | escape -}}
                    </a>
                  {%- endif -%}
                  {%- if block.settings.button_label_2 != blank -%}
                    <a
                      {% if block.settings.button_link_2 == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.button_link_2 }}"
                      {% endif %}
                      class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                    >
                      {{- block.settings.button_label_2 | escape -}}
                    </a>
                  {%- endif -%}
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
        <div class="text-info-content">
          <div class="info-1 grid__item one-third">
            <div class="info-group">
              <div class="info-icon">
                <img
                  src="//digital-world-8.myshopify.com/cdn/shop/files/headphones_100x_crop_center.png?v=1613508275"
                  alt=""
                >
              </div>
              <div class="info-text">
                <span class="h4">Order Online</span>
                <span class="h5"
                  >A year after the first generation took the smartwatch world by storm with its timeless looks</span
                >
              </div>
            </div>
          </div>

          <div class="info-2 grid__item one-third">
            <div class="info-group">
              <div class="info-icon">
                <img
                  src="//digital-world-8.myshopify.com/cdn/shop/files/package_100x_crop_center.png?v=1613508275"
                  alt=""
                >
              </div>
              <div class="info-text">
                <span class="h4">Free Shipping</span>
                <span class="h5"
                  >A year after the first generation took the smartwatch world by storm with its timeless looks</span
                >
              </div>
            </div>
          </div>

          <div class="info-3 grid__item one-third">
            <div class="info-group">
              <div class="info-icon">
                <img
                  src="//digital-world-8.myshopify.com/cdn/shop/files/changing-money_100x_crop_center.png?v=1613508275"
                  alt=""
                >
              </div>
              <div class="info-text">
                <span class="h4">30 days return</span>

                <span class="h5"
                  >A year after the first generation took the smartwatch world by storm with its timeless looks</span
                >
              </div>
            </div>
          </div>

          <div class="info-4 grid__item one-third">
            <div class="info-group">
              <div class="info-icon">
                <img
                  src="//digital-world-8.myshopify.com/cdn/shop/files/medal_1_100x_crop_center.png?v=1613508275"
                  alt=""
                >
              </div>
              <div class="info-text">
                <span class="h4">Best Quality products</span>

                <span class="h5"
                  >A year after the first generation took the smartwatch world by storm with its timeless looks</span
                >
              </div>
            </div>
          </div>
          <div class="info-5 grid__item one-third">
            <div class="info-group">
              <div class="info-icon">
                <img
                  src="//digital-world-8.myshopify.com/cdn/shop/files/piggy-bank_100x_crop_center.png?v=1613508275"
                  alt=""
                >
              </div>
              <div class="info-text">
                <span class="h4">Saving your money</span>
                <span class="h5"
                  >A year after the first generation took the smartwatch world by storm with its timeless looks</span
                >
              </div>
            </div>
          </div>
          <div class="info-6 grid__item one-third">
            <div class="info-group">
              <div class="info-icon">
                <img
                  src="//digital-world-8.myshopify.com/cdn/shop/files/delivery-truck_1_100x_crop_center.png?v=1613508275"
                  alt=""
                >
              </div>
              <div class="info-text">
                <span class="h4">Free delivery from $50</span>
                <span class="h5"
                  >A year after the first generation took the smartwatch world by storm with its timeless looks</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.our-service.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.our-service.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.our-service.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.our-service.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.our-service.settings.desktop_content_position.label",
      "info": "t:sections.our-service.settings.desktop_content_position.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.our-service.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.our-service.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.our-service.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.our-service.settings.content_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.our-service.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.our-service.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.our-service.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.our-service.blocks.caption.name",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.our-service.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.our-service.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.our-service.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.our-service.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.our-service.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.our-service.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.our-service.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.our-service.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.our-service.blocks.text.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.our-service.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.our-service.blocks.buttons.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.our-service.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.our-service.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.our-service.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.our-service.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.our-service.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.our-service.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.our-service.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.our-service.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.our-service.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
